<link href="modules/core/css/home.css" rel="stylesheet" />

<section data-ng-controller="HomeController">

    <div class="container">
        <div class="jumbotron">
            <img class="img-responsive pull-right logo" src="modules/core/img/tribalingua-logo.png" />
            <h1>Welcome to Tribalingua!</h1>
            <p>
                If you are part of the Bravi Software Staff, please, sign in with your Bravi Software account, by clicking on the button below.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="/auth/google">
                    <img src="modules/core/img/google.png" />
                    Sign in with Google
                </a>
                <img class="img-responsive pull-right flag" src="modules/core/img/uk-flag.png" />
                <img class="img-responsive pull-right flag" src="modules/core/img/brazil-flag.png" />
            </p>
        </div>
    </div>
</section>
