<link href="modules/core/css/home.css" rel="stylesheet" />

<section data-ng-controller="HomeController">

    <div class="row">
        <div class="col-md-12 welcome">
            <h1>Welcome to Tribalingua App</h1>
            <img class="img-responsive" src="modules/core/img/tribalingua-logo.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 signin">
            <a href="auth/google">
                <img class="img-responsive" src="modules/core/img/sign-in-with-google.png" />
            </a>
        </div>
    </div>

    <div class="row clearfix visible-md visible-lg">
        <div class="col-md-6 pull-left">
            <img class="img-responsive pull-left flag" src="modules/core/img/uk-flag.png" />
            <img class="img-responsive pull-left flag" src="modules/core/img/brazil-flag.png" />
        </div>

        <div class="col-md-6">
            <img class="img-responsive pull-right ielts" src="modules/core/img/ielts.jpg" />
        </div>
    </div>

    <br>
    Enjoy &amp; Keep Us Updated.
    <br>

    <div class="row">
        <a href="#!/editions">Editions
        </a>
        <a href="#!/applicants">Apllicants
        </a>
    </div>
</section>
