<section data-ng-controller="HomeController">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#!/editions">
                    <img alt="Editions" class="img-responsive" src="modules/core/img/edition.png" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#!/applicants">
                    <img alt="Applicants" class="img-responsive text-center" src="modules/core/img/applicant.png" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#!/reports">
                    <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/report.png" />
                </a>
            </div>
        </div>
    </div>

    <br>
    Enjoy &amp; Keep Us Updated.
	<br>
</section>
