<section data-ng-controller="EditionsController" data-ng-init="find()">

    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-primary" href="/#!/editions/create">
                Create new Edition
            </a>
        </div>

        <h1>Editions</h1>
    </div>

    <input ng-model="searchText" class="form-control" placeholder="Search">
    <br />
    <div class="list-group">
        <div data-ng-repeat="edition in editions | filter:searchText" data-ng-href="#!/editions/{{edition._id}}" class="list-group-item">
            <div class="pull-right" data-ng-show="authentication.user._id == edition.user._id">
                <a class="btn btn-primary" href="/#!/editions/{{edition._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" href="/#!/editions/{{edition._id}}/delete">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>

            <h4 class="list-group-item-heading" data-ng-bind="edition.title"></h4>
            <small class="list-group-item-text">Applied in
                <span data-ng-bind="edition.date | date:'longDate'"></span>
            </small>
        </div>
    </div>

    <div class="alert alert-warning text-center" data-ng-if="editions.$resolved && !editions.length">
        No editions yet, why don't you <a href="/#!/editions/create">create one</a>?
    </div>
</section>



